{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}InteractorIO.h"

@protocol {{ prefix }}{{ module_info.name }}DataManagerInterface;

NS_ASSUME_NONNULL_BEGIN

@interface {{ prefix }}{{ module_info.name }}Interactor : NSObject <{{ prefix }}{{ module_info.name }}InteractorInput>

@property (weak, nonatomic, nullable) id<{{ prefix }}{{ module_info.name }}InteractorOutput> output;

@property (strong, nonatomic, nullable) id<{{ prefix }}{{ module_info.name }}DataManagerInterface> dataManager;

@end

NS_ASSUME_NONNULL_END
