{% include 'variables' %}{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ModuleInterface.h"
#import "{{ prefix }}{{ module_info.name }}InteractorIO.h"

@class {{ prefix }}{{ module_info.name }}Wireframe;

@protocol {{ prefix }}{{ module_info.name }}ViewInterface;
@protocol {{ prefix }}{{ module_info.name }}ModuleDelegateInterface;

NS_ASSUME_NONNULL_BEGIN

@interface {{ prefix }}{{ module_info.name }}Presenter : NSObject <{{ prefix }}{{ module_info.name }}ModuleInterface, {{ prefix }}{{ module_info.name }}InteractorOutput>

@property (strong, nonatomic, nullable) id<{{ prefix }}{{ module_info.name }}InteractorInput> {{ var_name }}Interactor;

@property (weak, nonatomic, nullable) {{ prefix }}{{ module_info.name }}Wireframe *{{ var_name }}Wireframe;

@property (weak, nonatomic, nullable) id<{{ prefix }}{{ module_info.name }}ModuleDelegateInterface> {{ var_name }}ModuleDelegate;

- (void)configureUserInterfaceForPresentation:(id<{{ prefix }}{{ module_info.name }}ViewInterface>)userInterface;

@end

NS_ASSUME_NONNULL_END
