{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Wireframe.h"
#import "{{ prefix }}{{ module_info.name }}Presenter.h"
#import "{{ prefix }}{{ module_info.name }}ViewController.h"

@interface {{ prefix }}{{ module_info.name }}Wireframe ()

@end

@implementation {{ prefix }}{{ module_info.name }}Wireframe

- (instancetype)init
{
self = [super init];
if (self)
{

}
return self;
}

@end
