{% include 'variables' %}{% include 'header' %}

@import Foundation;

@class {{ prefix }}{{ module_info.name }}Presenter;

NS_ASSUME_NONNULL_BEGIN

@interface {{ prefix }}{{ module_info.name }}Wireframe : NSObject

@property (strong, nonatomic, nullable) {{ prefix }}{{ module_info.name }}Presenter *{{ var_name }}Presenter;

@end

NS_ASSUME_NONNULL_END
