{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}DataManagerInterface.h"

NS_ASSUME_NONNULL_BEGIN

@interface {{ prefix }}{{ module_info.name }}DataManager : NSObject <{{ prefix }}{{ module_info.name }}DataManagerInterface>

@end

NS_ASSUME_NONNULL_END
