{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Interactor.h"
#import "{{ prefix }}{{ module_info.name }}DataManagerInterface.h"
#import "{{ prefix }}{{ module_info.name }}Model.h"

@implementation {{ prefix }}{{ module_info.name }}Interactor

#pragma mark - {{ prefix }}{{ module_info.name }}InteractorInput

@end
