{% include 'header' %}

@import Foundation;

NS_ASSUME_NONNULL_BEGIN

@protocol {{ prefix }}{{ module_info.name }}InteractorInput <NSObject>
@required

@end

@protocol {{ prefix }}{{ module_info.name }}InteractorOutput <NSObject>
@required

@end

NS_ASSUME_NONNULL_END
