{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Presenter.h"
#import "{{ prefix }}{{ module_info.name }}Wireframe.h"
#import "{{ prefix }}{{ module_info.name }}ViewInterface.h"
#import "{{ prefix }}{{ module_info.name }}ModuleDelegateInterface.h"

@interface {{ prefix }}{{ module_info.name }}Presenter ()
{
@private
__weak id<{{ prefix }}{{ module_info.name }}ViewInterface> _userInterface;
}
@end

@implementation {{ prefix }}{{ module_info.name }}Presenter

- (instancetype)init
{
self = [super init];
if (self)
{

}
return self;
}

- (void)configureUserInterfaceForPresentation:(id<{{ prefix }}{{ module_info.name }}ViewInterface>)userInterface
{
NSParameterAssert(userInterface != nil);
_userInterface = userInterface;
}

#pragma mark - {{ prefix }}{{ module_info.name }}ModuleInterface

#pragma mark - {{ prefix }}{{ module_info.name }}InteractorOutput

@end
