{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewController.h"
#import "{{ prefix }}{{ module_info.name }}ModuleInterface.h"

@interface {{ prefix }}{{ module_info.name }}ViewController ()

@end

@implementation {{ prefix }}{{ module_info.name }}ViewController

- (instancetype)init
{
self = [super init];
if (self)
{

}
return self;
}

- (void)viewDidLoad
{
[super viewDidLoad];

}

#pragma mark - {{ prefix }}{{ module_info.name }}ViewInterface

@end
