{% include 'variables' %}{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ModuleAssembly.h"

#import "{{ prefix }}{{ module_info.name }}Wireframe.h"
#import "{{ prefix }}{{ module_info.name }}Presenter.h"
#import "{{ prefix }}{{ module_info.name }}Interactor.h"

@implementation {{ prefix }}{{ module_info.name }}ModuleAssembly

- ({{ prefix }}{{ module_info.name }}Wireframe *){{ var_name }}Wireframe
{
return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Wireframe class] configuration:^(TyphoonDefinition *definition)
{
[definition injectProperty:@selector({{ var_name }}Presenter) with:[self {{ var_name }}Presenter]];
}];
}

- ({{ prefix }}{{ module_info.name }}Presenter *){{ var_name }}Presenter
{
return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Presenter class] configuration:^(TyphoonDefinition *definition)
{
[definition injectProperty:@selector({{ var_name }}Wireframe) with:[self {{ var_name }}Wireframe]];
[definition injectProperty:@selector({{ var_name }}Interactor) with:[self {{ var_name }}Interactor]];
}];
}

- ({{ prefix }}{{ module_info.name }}Interactor *){{ var_name }}Interactor
{
return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Interactor class] configuration:^(TyphoonDefinition *definition)
{
[definition injectProperty:@selector(output) with:[self {{ var_name }}Presenter]];
}];
}

@end