{% include 'variables' %}{% include 'header' %}

#import <Typhoon/Typhoon.h>

@class {{ prefix }}{{ module_info.name }}Wireframe;

@interface {{ prefix }}{{ module_info.name }}ModuleAssembly : TyphoonAssembly

- ({{ prefix }}{{ module_info.name }}Wireframe *) {{var_name}}Wireframe;

@end
