{% include 'header' %}

@import UIKit;

#import "{{ prefix }}{{ module_info.name }}ViewInterface.h"

@protocol {{ prefix }}{{ module_info.name }}ModuleInterface;

NS_ASSUME_NONNULL_BEGIN

@interface {{ prefix }}{{ module_info.name }}ViewController : UIViewController <{{ prefix }}{{ module_info.name }}ViewInterface>

@property (weak, nonatomic, nullable) id<{{ prefix }}{{ module_info.name }}ModuleInterface> eventHandler;

@end

NS_ASSUME_NONNULL_END
