{% include 'header' %}

@import Foundation;

NS_ASSUME_NONNULL_BEGIN

/**
*  {{ module_info.description }}
*/
@protocol {{ prefix }}{{ module_info.name }}ModuleInterface <NSObject>
@required

@end

NS_ASSUME_NONNULL_END
